<div class="footer-strip">
    <div>
        <span class="label">UAMS</span>
        <span class="label">VERSION</span>
        <span class="item">1.0</span>
        <!-- <span class="item"> Unit Accounts Management</span> -->
    </div>
 
     <!-- <div>
        <span class="label">Unit Accounts Management</span>
        <span class="item">{{ module_name|default:"Procurement" }}</span>
    </div> -->

    <!-- <div>
        <span class="label">VERSION</span>
        <span class="item">1.0</span>
    </div> -->

    <!-- <div>
        <span class="label">CLASSIFICATION</span>
        <span class="item">CONFIDENTIAL</span>
    </div> -->
</div>