{% if widget.is_initial %}
  <div class="attachment-current" data-attachment-current>
    <a href="{{ widget.value.url }}" target="_blank" class="attachment-link">{{ widget.value }}</a>
    {% if not widget.required %}
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" class="attachment-clear-checkbox">
      <label for="{{ widget.checkbox_id }}" class="attachment-remove-btn" title="Remove attachment" style="font-size: 16px;">&times;</label>
    {% endif %}
    <span class="attachment-removed-note">Will be removed on save</span>
  </div>
{% endif %}
<div class="attachment-upload">
  {% include "django/forms/widgets/file.html" %}
</div>